html,
body {
  background-color: azure;
  margin: 0;
  padding: 0;
  font-family: "Martel Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  flex-flow: column wrap;
  font-weight: 450;
}

.lore {
  flex: 1;
}

.game {
  flex: 2;
  display: flex;

}

@media (max-width: 768px) {
    .main p{
        font-size: 16px;
    }

}
